.table-wrapper {
  overflow-x: auto; 
}

.table {
  table-layout: fixed; 
  width: 100%; 
}

.text-center thead th {
  background-color: #add8e6;
  font-family: 'Roboto', sans-serif;
  width: 40px;
  min-width: 150px;
}
.table-header {
  padding: 10px; 
  background-color: #f8f9fa;
  border: 1px solid #dee2e6; 
  font-weight: bold; 
  white-space: normal; 
  word-wrap: break-word; 
  text-align: center; 
  vertical-align: middle; 

  min-width: 100px; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}


@media (max-width: 768px) {
  .table-header {
    font-size: 12px; 
    padding: 5px; 
  }
}
